@import url("https://fonts.googleapis.com/css?family=Acme");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
.hidden {
  display: none;
}

.btn-outline-danger:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Luckiest Guy', cursive;
}

#q-num {
  font-family: 'Luckiest Guy', cursive;
  font-size: 5rem;
}

#q-num::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-top: calc((1 - 1.65) * 0.5em);
}

#q-text {
  font-size: 1.2rem;
}

input {
  text-align: center;
}

.form-control::-webkit-input-placeholder {
  color: #bbb;
}

.form-control:focus {
  border-color: #c45f5f;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#high-score-table {
  border: 1px solid black;
  padding: 2rem;
}

.stats-display {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.qbox {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.answer-grid-outer {
  margin: 20px auto;
  width: 250px;
  height: 500px;
  background-color: #f8f9fa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 15% 15% 15% 15%;
      grid-template-rows: 15% 15% 15% 15%;
  grid-row: auto / auto;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
}

@media screen and (min-width: 576px) {
  .answer-grid-outer {
    width: 400px;
    height: 300px;
    -ms-grid-columns: 47.5% 47.5%;
        grid-template-columns: 47.5% 47.5%;
    -ms-grid-rows: 45% 45%;
        grid-template-rows: 45% 45%;
    grid-row-gap: 10%;
  }
}

@media screen and (min-width: 768px) {
  .answer-grid-outer {
    width: 600px;
    height: 300px;
  }
}

.answer-grid-outer .answer-grid-inner {
  padding: 0.5rem;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .answer-grid-outer .answer-grid-inner {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .answer-grid-outer .answer-grid-inner {
    font-size: 1.5rem;
  }
}

.bg-col-blue {
  background-color: #6b88ff;
}

.bg-col-orange {
  background-color: #ffad6b;
}

.bg-col-green {
  background-color: #74f1b3;
}

.bg-col-purple {
  background-color: #e8a4ee;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("/static/img/bg_tile.png");
  font-family: "Fira Sans", sans-serif;
}

hr {
  width: 80%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 576px) {
  .content {
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
  }
}

@media screen and (min-width: 576px) {
  nav {
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
  }
}

.navbar-brand img {
  height: 40px;
}

footer img {
  height: 60px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer i {
  color: #e0e0e0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 767px) {
  footer i {
    padding-top: 0.8rem;
  }
}

footer i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

@media screen and (min-width: 576px) {
  footer {
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
  }
}

.modal img {
  height: 80px;
}

.modal .btn-secondary {
  border-color: #dc3545;
}
/*# sourceMappingURL=main.css.map */