// ------------------------------------------------------------------ variables

$white: #fff;
$blue: #6b88ff;
$orange: #ffad6b;
$green: #74f1b3;
$purple: #e8a4ee;
$red: #c45f5f;
$grey: #aaaaaa;
$light-grey: #e0e0e0;
$dark-grey: #333;
$bs-light: #f8f9fa;
$bs-danger: #dc3545;

// ---------------------------------------------------------------------- fonts

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600");

// --------------------------------------------------------------------- mixins

@mixin container-borders {
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
}

@mixin black-border {
    border: 1px solid black;
}

@mixin box-style {
    padding: 1rem;
    border-radius: 10px;
    @include black-border;
}

// remove space from top of text to make horizontal aligning easier
// mixin courtesy of https://bit.ly/2wehSgG
@mixin lhCrop($line-height) {
    &::before {
        content: "";
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - #{$line-height}) * 0.5em);
    }
}

// -------------------------------------------------------------------- utility

.hidden {
    display: none;
}

// --------------------------------------------------------------------- resets

.btn-outline-light:focus {
    box-shadow: none;
}