// ------------------------------------------------------------------ variables

$container-border: #aaaaaa;

// ---------------------------------------------------------------------- fonts
@import url("https://fonts.googleapis.com/css?family=Acme");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600");
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

// --------------------------------------------------------------------- mixins

@mixin container-borders {
    border-left: 1px solid $container-border;
    border-right: 1px solid $container-border;
}

@mixin black-border {
    border: 1px solid black;
}

// remove space from top of text to make horizontal aligning easier
// mixin courtesy of https://bit.ly/2wehSgG
@mixin lhCrop($line-height) {
    &::before {
        content: "";
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - #{$line-height}) * 0.5em);
    }
}

// -------------------------------------------------------------------- utility

.hidden {
    display: none;
}

// --------------------------------------------------------------------- resets

.btn-outline-danger:focus {
    box-shadow: none;
}