body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../img/bg_tile.png');
    font-family: "Fira Sans", sans-serif;
}

hr {
    width: 80%;
}

.content {
    flex: 1;
    // background-color: rgba(255, 255, 255, 0.95);
    @media screen and (min-width: 576px) {
        @include container-borders;
    }
}

// --------------------------------------------------------------------- navbar

nav {
    @media screen and (min-width: 576px) {
        @include container-borders;
    }
}

.navbar-brand {
    img {
        height: 40px;
    }
}

// --------------------------------------------------------------------- footer

footer {
    img {
        height: 60px;
        transition: all 0.2s ease-in-out;
    }

    img:hover {
        transform: scale(1.1);
    }

    i {
        color: rgb(224, 224, 224);
        transition: all 0.2s ease-in-out;
        @media only screen and (max-width: 767px) {
            padding-top: 0.8rem;
        }
    }

    i:hover {
        transform: scale(1.1);
        color: rgb(255, 255, 255);
    }

    @media screen and (min-width: 576px) {
        @include container-borders;
    }
}

// ---------------------------------------------------------------------- modal

.modal {
    img {
        height: 80px;
    }

    .btn-secondary {
        border-color: #dc3545;
    }
}
