body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../img/bg_tile.png');
    font-family: "Fira Sans", sans-serif;
}

.content {
    flex: 1;
    @media screen and (min-width: 576px) {
        @include container-borders;
    }
}

h2,
h3,
h5,
h6 {
    font-family: 'Luckiest Guy', cursive;
}

// ------------------------------------------------------- input & form control

input {
    text-align: center;
}

.form-control:focus {
    border-color: $red;
    box-shadow: none;
}

// ---------------------------------------------------------------- high scores

#high-score-table {
    @include black-border;
}

// ---------------------------------------------------------------------- stats

.stats-display {
    @include box-style;
}

// ---------------------------------------------------------- question & answer

.qbox {
    @include box-style;
}

#q-num {
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
    @include lhCrop(1.65);
}

#q-text {
    font-size: 1.2rem;
}

// ---------------------------------------------------------- background colors

.bg-col-blue {
    background-color: $blue;
}

.bg-col-orange {
    background-color: $orange;
}

.bg-col-green {
    background-color: $green;
}

.bg-col-purple {
    background-color: $purple;
}