// ----------------------------------------------------------------- typography

h1,
h2,
h3,
h5,
h6 {
    // font-family: "Acme", sans-serif;
    font-family: 'Luckiest Guy', cursive;
}

#q-num {
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
    @include lhCrop(1.65);
}

#q-text {
    font-size: 1.2rem;
}

// ------------------------------------------------------- input & form control
input {
    text-align: center;
}

// .input-group-lg>.form-control

.form-control::-webkit-input-placeholder {
    color: #bbb;
}

.form-control:focus {
    border-color: rgb(196, 95, 95);
    box-shadow: none;
    background-color: #fafafa;
}

// ---------------------------------------------------------------- high scores
#high-score-table {
    @include black-border;
    background-color: white;
    padding: 2rem;
}

// ---------------------------------------------------------------------- stats
.stats-display {
    padding: 1rem;
    @include black-border;
}

// #stat-boxes {
//     h3 {
//         font-size:
//     }
// }

// ---------------------------------------------------------------- answer grid

.answer-grid-outer {
    margin: 20px auto;
    width: 250px;
    height: 500px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 15% 15%;
    grid-row: auto / auto;
    grid-column-gap: 5%;
    grid-row-gap: 5%;

    @media screen and (min-width: 576px) {
        width: 400px;
        height: 300px;
        grid-template-columns: 47.5% 47.5%;
        grid-template-rows: 45% 45%;
        grid-row-gap: 10%;
    }

    @media screen and (min-width: 768px) {
        width: 600px;
        height: 300px;
    }

    .answer-grid-inner {
        padding: 0.5rem;
        background-color: #333;
        border-radius: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: 600;

        @media screen and (min-width: 576px) {
            font-size: 1.2rem;
        }

        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
    }
}

.high-score-bg {
    background-color: #ffa0aa;
}