body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar-brand {
    img {
        width: auto;
        height: 40px;
    }
}

.content {
    flex: 1;
}

footer {
    .otdb {
        width: auto;
        height: 60px;
    }

    .logo {
        width: auto;
        height: 60px;
    }

    i {
        @media only screen and (max-width: 767px) {
            padding-top: 0.8rem;
        }
    }
}
